@using hackathon_campus.Core.ViewModels;
@{
    Layout = "_Layout";
}
@model EventDetailsViewModel



@if (!Model.IsSubscribe)
{
    <a href="@Url.Action("SubscribeOnEvent", "Event", new { eventId = @Model.Id})">
        Зарегистрироваться
    </a> 
}
else
{
    <a href="@Url.Action("UnSubscribeOnEvent", "Event", new { eventId = @Model.Id})">
        Вы зарегистрированы
    </a>
}
<form style="margin-bottom: 50px;"class="container">
    
    <div class="namelabel">
        <p style="text-align: center;" class="nameMer">@Model.Title</p>
        <div style="font-size:30px">Описание мероприятия:</div>
        <div class="nameMer" style="height:290px;">@Model.Description</div>
    </div>
    <div class="rightpan">
    <div class="addImg">
        <img src="/@Model.ImagePath" alt="" class="merimg">
    </div>
    <div type="text"placeholder="Введите место проведения мероприятия"class="date">Место</div>
    <div type="text" placeholder="Введите время проведения мероприятия"class="date">Время</div>
    <button class="date" style="background-color:#2185FB; color:white; ">Подать заявку</button>
        
    </div>
    
</form>

